:root {
  --background: #FEFFF3;
  --foreground: #ECFFEE;
  --highlight: #FFF2DD;
  --highlight2: #EEECFE;
  --highlight3: #F4FED3;
  --highlight4: #F2CFFB;
  --black: #323232;
  --highlight-o: rgba(255, 242, 221, 0.7);
  --highlight2-o: rgba(238, 236, 254, 0.7);
  --highlight3-o: rgba(244, 254, 211, 0.7);
  --highlight4-o: rgba(242, 207, 251, 0.7);
}

html {
  font-size: 10px;
  /*background: url(http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/02/forest.jpg);*/
  background-color: var(--highlight);
  background-size: contain;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
div.keys div.key:nth-child(3n - 1) {
  float: left;
  clear: both;
}

.keys {
  transform: translate(36%, 20%);
  /*display: block;
  width: 50%;
  margin: 10% auto;*/
  min-height: 80vh;
  align-items: center;
}

.key {
  box-sizing: content-box;
  display: inline-block;
  float: left;
  border: .4rem outset var(--highlight4);
  border-radius: 10rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: var(--black);
  background: var(--highlight2-o);
  text-shadow: 0 0 .5rem var(--highlight);
}

.dialed {
  transform: scale(0.8);
  border-style: inset;
  box-shadow: 0 0 1rem #c9c2a9;
}

kbd {
  display: block;
  font-size: 4rem;
}

.extra {
  visibility: hidden;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

#dial {
  box-sizing: border-box;
  width: 41.6rem;
  height: 10rem;
  border: .4rem solid var(--highlight4);
  position: relative;
  background-color: var(--highlight2-o);
}

span#dial-number {
  display: inline-block;
  font-size: 4rem;
  padding: 1rem .5rem;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
  color: var(--black);
  text-shadow: 0 0 .5rem var(--highlight);
  position: absolute;
  right: 0;
  bottom: 0;
}
