html {
  font-size: 10px;
  /*background: url(http://s3.amazonaws.com/digitaltrends-uploads-prod/2016/02/forest.jpg);*/
  background-color: forestgreen;
  background-size: contain;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div.keys div.key:nth-child(3n - 1) {
  float: left;
  clear: both;
}

.keys {
  transform: translate(36%, 20%);
  /*display: block;
  width: 50%;
  margin: 10% auto;*/
  min-height: 80vh;
  align-items: center;
}

.key {
  box-sizing: content-box;
  display: inline-block;
  float: left;
  border: .4rem outset black;
  border-radius: 10rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  text-shadow: 0 0 .5rem black;
}

.dialed {
  transform: scale(0.8);
  border-style: inset;
  box-shadow: 0 0 1rem #c9c2a9;
}

kbd {
  display: block;
  font-size: 4rem;
}

.extra {
  visibility: hidden;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

#dial {
  box-sizing: border-box;
  width: 41.6rem;
  height: 10rem;
  border: .4rem solid black;
  position: relative;
  background-color: rgba(0,0,0,0.5);
}

span#dial-number {
  display: inline-block;
  font-size: 4rem;
  padding: 1rem .5rem;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
  color: white;
  text-shadow: 0 0 .5rem black;
  position: absolute;
  right: 0;
  bottom: 0;
}
