* {
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
}

body {
  /*background-color: #f2efe7;*/
}

h1, h2, .header h3 {
  text-transform: uppercase;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

li a {
  text-decoration: none;
}

#experience-section {
  clear:both;
}

/*styling for hangman game*/
ul.alphabet {
  list-style-type: none;
}

li.letter {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 9px;
}

li.letter:hover {
  color: white;
  background-color: lightgreen;
  border-color: grey;
}

div.guess div {
  display: inline-block;
  width: 20px;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 0 2px 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

/*styling for concentration game*/
div#skills-section {
  border: double 6px black;
  overflow: auto;
  background-color: #f2efe7;
  padding: 10px;
  text-align: center;
}

#skills-game {
  text-align: center;
  position: relative;
  /*left: 17%;*/
}

#reset-all-skills {
  clear: both;
}

#number-of-matches {
  clear:both;
}

div.skill {
  display: inline-block;
  float: left;
}

.card5, .card10, .card15 {
  clear: left;
}

div.skill img {
  width: 120px;
  padding: 5px;
}

.face {
  /*z-index: 2;*/
  /*position: absolute;*/

}

.front {
  position: absolute;
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.stay img.front {
  visibility: hidden;
}

.stay img.back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.return {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(116, 116, 116, 0.84);
  z-index: 100;
  display: none;
}

.modal h1 {
  width: 100%;
  text-align: center;
}
