:root {
  --green: #2BB673;
  --grey: #6D6E71;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', serif;
  box-sizing: border-box;
}

body {
  /*background-color: #f2efe7;*/
  text-align: center;
}

main {
    margin: auto 5% 5%;
}

h1, h2, .header h3 {
  text-transform: uppercase;
}

.header {
  margin: auto 0;
  padding-top: 30px;
  height: 250px;
  text-align: center;
  background: url('images/flower-swirl10.png');
  background-color: var(--green);
  background-repeat: repeat;
  color: white;
  width: 100%;
  position: relative;
  /*display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  flex-basis: 100%;*/
}

nav {
  padding: 5px 0;
}

h3 {
  margin-top: 0;
}

h1.border {
  color: white;
  padding: 0 0 0 1%;
  width: 90%;
  margin: 2% 5% 1%;
}

h1.border span {
  background: var(--green);
}

h1.border:before {
  border-top: double 6px white;
  top: 45%;

}

.border {
    padding: 0 0 0 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    text-align: center;
    color: var(--green);
}

.border:before{
    content: "";
    display: block;
    border-top: dotted 3px var(--grey);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.border span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.header h1 {
  margin-top: 0;
}

.header > h1 {
  font-size: 3em;
}

.header > h3 {
  font-size: 1.5em;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

ul {
  padding-left: 0;
}

a {
  color: var(--grey);
  text-decoration: none;
  border: 1px solid var(--grey);
  border-radius: 4px;
  padding: 3px 10px;
  margin: 3px;
}

a.no-style {
  border: none;
  padding: 0;
  border-radius: 0;
  margin: 0;
}

#projects-section > p{
  margin-bottom: 6px;
  margin-top: 20px;
}

li a {
  text-decoration: none;
  color: #2e2d2e;
  border: none;
  padding: 10px;
  margin: 3px;
  text-transform: uppercase;
}

li a:hover {
  color: white;
}

div#contact-section {
  background: url('images/planes.png') no-repeat right;
  background-size: 34.5%;

}

#contact-section a {
  position: relative;
}

i {
  padding-right: 10px;
  position: absolute;
  left: 10px;
  top: 7px;
}

#contact-section a {
  display: block;
  width: 33%;
  margin: 12px 33%;
  text-align: right;
  background: rgba(255,255,255,0.9);
}

#experience-section {
  clear:both;
}

/*styling for hangman game*/
#hangman6 {
  z-index: 7;
}
#hangman5 {
  z-index: 6;
  display: none;
}
#hangman4 {
  z-index: 5;
  display: none;
}
#hangman3 {
  z-index: 4;
  display: none;
}
#hangman2 {
  z-index: 3;
  display: none;
}
#hangman1 {
  z-index: 2;
  display: none;
}
#hangman-full {
  z-index: 1;
  display: none;
}

ul.alphabet {
  list-style-type: none;
}

li.letter {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 9px;
}

li.letter:hover {
  color: white;
  background-color: var(--green);
  border-color: var(--grey);
}

div.guess div {
  display: inline-block;
  width: 20px;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 0 2px 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

/*styling for concentration game*/
div#skills-section {
  border: double 6px var(--grey);
  background: url('images/flower-swirl10.png');
  background-color: rgba(179, 179, 179, 0.1);
  padding: 10px;
  text-align: center;
  position: relative;
  height: 110%;
}

#skills-game {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20%;
  text-align: center;
}

#reset-all-skills {
  margin: 2% 44% 0;
  width: 12%;
  display: block;
  clear: both;
  border-color: white;
  color: white;
}

#number-of-matches {
  clear:both;
}


div.skill {
  flex-basis: 20%;
}

div.skill.card0, div.skill.card5, div.skill.card10, div.skill.card15 {
  flex-wrap: wrap;
}

div.skill img {
  width: 120px;
  padding: 5px;
}

.face {
  /*z-index: 2;*/
  /*position: absolute;*/

}

.front {
  position: absolute;
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.flip {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.stay img.front {
  visibility: hidden;
}

.stay img.back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.return {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(116, 116, 116, 0.99);
  z-index: 100;
  display: none;
  color: white;
  overflow: auto;
}

img.modal-skills {
  width: 120px;
  clear: both;
  margin: 0 5px;
}

.modal h1 {
  width: 100%;
  text-align: center;
}

#number-of-matches {
  margin-bottom: 10px;
}
